@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* general resets */

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

button {
    border: none;
}

/* global variables */

:root {
    /* colors */

    --primary-color: hsl(25, 97%, 53%);

    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    

    --heading-font-color: hsl(0, 0%, 100%);
    --primary-font-color: hsl(217, 12%, 63%);
}

/* Typography */
body {
    font-size: 0.9375rem;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
}

p {
    font-weight: 400;
    color: var(--primary-font-color);
}

h1 {
    font-weight: 700;
    color: var(--heading-font-color);
}

/* Utility classes */
.round-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    color: var(--primary-font-color);
}


/* Component styles */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: none;
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 325px;
    border-radius: 1rem;
    background: radial-gradient(circle at top, var(--dark-blue), transparent 150%);
}

.active {
    display: grid;
}

button {
    transition: background-color 300ms ease-in-out;
}


/* rating card styles */
.rating-btn-container {
    display: flex;
    justify-content: space-between;
}

.rating-btn:hover {
    background-color: var(--primary-color);
    color: var(--heading-font-color);
    cursor: pointer;
}

.selected, .selected:hover {
    background-color: var(--medium-gray);
    color: var(--heading-font-color);
    transition: none;
}

.submit-btn {
    background-color: var(--primary-color);
    color: var(--heading-font-color);

    padding: 1rem 0;
    border-radius: 2rem;

    letter-spacing: 0.2rem;
}

.submit-btn:hover {
    background-color: var(--heading-font-color);
    color: var(--primary-color);
    cursor: pointer;
}


/* thank you card */
.thankyou {
    justify-items: center;
    text-align: center;
}

.rating-result-container {
    background-color: var(--dark-blue);
    color: var(--primary-color);

    padding: 0.5rem;
    border-radius: 2rem;
}

footer {
    color: var(--heading-font-color);
    text-align: center;
    padding: 2rem 0;
}

footer a {
    color: var(--primary-color);
}